.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .home-container1 {
    top: 0px;
    left: NaNpx;
    height: 424px;
    position: absolute;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-container2 {
    display: contents;
  }
  .home-social-bar {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    justify-content: center;
  }
  .home-icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon2 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon4 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  @media(max-width: 767px) {
    .home-social-bar {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
  }
  @media(max-width: 479px) {
    .home-social-bar {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
  }
  