.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.index-container1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1631px;
  margin: auto;
  position: absolute;
}
.index-container2 {
  display: contents;
}
.index-container3 {
  display: flex;
  position: relative;
}
.index-container4 {
  color: var(--dl-color-gray-black);
  width: 969px;
  height: 431px;
  position: relative;
  background-color: 988 (Gray);
}
.index-container5 {
  display: contents;
}
.index-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
}
.index-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.index-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .index-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .index-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
